<h1>URL Shortener Microservice</h1>
<h2>Example creation usage:</h2>
	http://viethqc-url-shortener.herokuapp.com/new/https://www.google.com<br>
	http://viethqc-url-shortener.herokuapp.com/new/http://facebook.com
<h2>Example creation output</h2>
	{ "original_url":"http://google.com", "short_url":"http://viethqc-url-shortener.herokuapp.com/0" }
<h2>Usage:</h2>
http://viethqc-url-shortener.herokuapp.com/0
<h2>Will redirect to:</h2>
https://www.google.com/
